*{
    padding: 0;
    margin: 0;
}
#juego{
    height: 200px;
    border: 1px solid #000;
}
#dino{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}
.animar{
    animation: saltar 500ms;
}

@keyframes saltar{
    0%{top:150px}
    10%{top:100px}
    70%{top:100px}
    100%{top:150px}
}

#bloque{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;

    top:130px;
    left:1500px;
    animation: bloquesin 5s infinite linear;
}
@keyframes bloquesin{
    0%{left: 1400px}
    100%{left:-40px}
}